<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>*@


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Profile", "UserProfile", "Home", null, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Help", "", "", htmlAttributes: new { @class = "nav-link" })
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
            <form class="form-inline my-2 my-md-0">
                <input class="form-control mr-sm-1 ml-sm-5 " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid mt-1">
        <div class="row">
            <div class="sidebar col-sm-3 col-md-2">
                <ul class=" list-unstyled">
                    <li>@Html.ActionLink("Overview", "", "", htmlAttributes: new { @class = " nav-link " })</li>
                    <li>@Html.ActionLink("Orders", "CustomerOrder", "Sidebar", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Analitics", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Export", "", "", new { @class = "nav-link" })</li>
                </ul>
                <ul class=" list-unstyled">
                    <li>@Html.ActionLink("Overview", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Reports", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Analitics", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Export", "", "", new { @class = "nav-link" })</li>
                </ul>
                <ul class=" list-unstyled">
                    <li>@Html.ActionLink("Overview", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Reports", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Analitics", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Export", "", "", new { @class = "nav-link" })</li>
                </ul>
                <ul class=" list-unstyled">
                    <li>@Html.ActionLink("Overview", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Reports", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Analitics", "", "", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Export", "", "", new { @class = "nav-link" })</li>
                </ul>

            </div>
            <div class="container body-content col-sm-9 col-md-10 border ">
                @RenderBody()

            </div>
        </div>
    </div>
    <div class="bg-dark m-0">
        <footer>
            <p class="text-white text-center m-0">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
